@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Spartan", serif;
}

html {
  font-size: 16px;
  background-color: #fdfffc;
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@layer components {
  /* body {
    @apply dark:bg-slate-900;
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
  }

  input {
    @apply opacity-60 focus:opacity-100;
  }

  .login-active {
    @apply bg-green-mint text-white;
  }

  .login-input {
    @apply bg-green-dark border-white border-[1px] h-10 p-2 outline-none text-white rounded-md w-full mb-4;
  }

  .sidebar-option {
    @apply block bg-white text-center rounded-lg p-4 font-semibold hover:bg-blue-nav/50 cursor-pointer transition-all duration-300 mb-4;
  }

  .sidebar-option-active {
    @apply bg-blue-nav text-white;
  }

  .subject {
    @apply bg-[#f4c5cc] flex justify-center items-center rounded-lg p-12 h-20 border-black border-[1px] font-semibold cursor-pointer md:w-52 md:h-52;
  }

  .question {
    @apply bg-white w-11/12 min-h-40 shadow-md rounded-lg p-4 py-6 mt-6;
  }
}
